/* Define animation keyframes */
@keyframes move-across {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.moving-text {
  position: absolute;
  white-space: nowrap;
  top: 80%;
  left: 0;
  font-size: 24px;
  animation: move-across 17s linear infinite;
  width: 100%;
}

.moving-image {
  position: absolute;
  top: 85%;
  left: 0;
  height: 100px;
  animation: move-across 15s linear infinite;
    /* Adds a delay of 1 second */
  animation-delay: 1s;
  width: 780px;
}

.sticker-container-1 {
  position: absolute;
  top: 20px;
  right: 20px;
}

.sticker-container-1 img {
  width: 100px;
  height: auto;
}

.sticker-container-2 {
  position: absolute;
  top: 40px;
  left: 20px;
}

.sticker-container-2 img {
  width: 100px;
  height: auto;
}

.sticker-container-3 {
  position: absolute;
  top: 600px;
  right: 30px;
}

.sticker-container-3 img {
  width: 100px;
  height: auto;
}

.sticker-container-4 {
  position: absolute;
  top: 300px;
  left: 100px;
}

.sticker-container-4 img {
  width: 100px;
  height: auto;
}

.sticker-container-5 {
  position: absolute;
  top: 300px;
  right: 50px;
}

.sticker-container-5 img {
  width: 100px;
  height: auto;
}

.sticker-container-6 {
  position: absolute;
  top: 700px;
  left: 50px;
}

.sticker-container-6 img {
  width: 100px;
  height: auto;
}

.minecraft-container{
  position: absolute;
  top: 20px;
  right: 20px;
}

.minecraft-container img {
  width: 200px;
  height: auto;
}

.poem-container-1 {
  position: absolute;
  top: 500px;
  right: 50px;
}

.poem-container-1 img {
  width: 200px;
  height: auto;
}

.poem-container-2 {
  position: absolute;
  top: 500px;
  left: 20px;
}

.poem-container-2 img {
  width: 250px;
  height: auto;
}

body {
  /* font-family: sans-serif; */
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw
}

p {
  max-width: calc(min(500px, 80%));
}

.header {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 700px) {
    position: relative;

    padding-bottom: 40px;
    left: 0px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
  }
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
  z-index: 0;
}


nav {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: larger;

  @media (max-width: 700px) {
      flex-direction: row;
  }
}
.header a {
  color: rgb(94, 87, 112);
  width: fit-content;
  text-decoration: none;
}
button {
  font-family: "Inconsolata", monospace;
  background-color: rgb(94, 87, 112);
  border: none;
  color: white;
  padding: 10px 10px;
  width: 100%;
  /*   text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  cursor: pointer;
}

p {
  font-size: 12pt;
  line-height: 18pt;
}

.left {
  width: 15%;
  padding: 1% 1% 1% 0;
  display: inline-block;

}

.center {
  width: 15%;
  padding: 1%;
  display: inline-block;
}

.right {
  width: 60%;
  padding: 1%;
  display: inline-block;
}

.nav {
  padding: 2%;
  width: 26%;
  height: 100%;
  display: inline-block;

}

.content {
  padding: 2%;
  width: 50%;
  display: inline-block;

}

ul {
  padding: 0;
  padding-inline: 0;
  margin-inline: 0;
  max-width: calc(min(500px, 80%) + 20);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 70px;

  @media (max-width: 500px) {
      padding-bottom: 0px;
  }
}

li {
  font-size: 12pt;
  list-style-type: none;
  padding-bottom: 1em;
  color: #c9beb1;
}

li.bullet {
  list-style-type: "- ";
  margin: 1%;
  padding: 0;
}

li a {
  color: #b67dd7;
  /*   text-decoration: none; */
}

li.bullet a {
  color: #c9beb1;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  /*   height: 400px; */
  display: inline-block;
  margin-bottom: 2%;
}

.full-width-box {
  width: 100%;
  margin-bottom: 2%;
  display: inline-block;
}

img {
  height: 400px;
  display: inline-block;
  margin-bottom: 2%;
  margin-right: 2%;
}

body .gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: "Droid Sans Mono", monospace;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #ced4da;
  background-color: #495057;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

.nav-link {
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
}

.nav-link a,
.nav-link a:visited {
  color: black;
  text-decoration: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: "Inconsolata", monospace;
    margin: 1%;
    width: 98%;
    height: 100%;
  }

  .nav {
    width: 100%;
  }

  .content {
    width: 100%;
    float: left;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.myBox {

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 1px solid black;
}

.fullwidth {
  width: 100%;
  float: left;
}

.nav {
  display: none;
}
